<table class="table">
	<tr>
		<th>Model</th>
		<th>Year</th>
		<th>Price</th>
		<th>Producer</th>
		<th>Available</th>
		<th>Action</th>
	</tr>
		<tr ng-repeat="product in products">
			<td>
				<a href="#/store/{{product.id}}"> {{product.model | uppercase}} </a>
			</td>
			<td> {{product.year}} </td>
			<td> {{product.price | currency}} </td>
			<td> {{product.producer}} </td>
			<td>
				<div class="input-group avail-text">
				  <span class="input-group-btn">
				    <input type="button" class="btn btn-success" value="+" ng-click="increaseAvailable(product)">
				  </span>
			      <input type="text" class="form-control text-align" value=" {{product.available}} ">
			      <span class="input-group-btn">
			        <input type="button" class="btn btn-warning" value="-" ng-click="decreaseAvailable(product)">
			      </span>
			    </div>
			</td>
			<td>
				<button type="button" value="Delete" class="btn btn-danger" ng-click="deleteProduct(product)">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</button>
			</td>
		</tr>
</table>